<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="content/html; charset=UTF-8"/>
    <title>Teacher page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"/>
</head>
<body>
<div class="container">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h1>PhilSchool <small>World's best philosophic school</small></h1>
                </div>
                <h3><em th:text="${teacher.name}">Karl Marks</em> dialogs:</h3>
                <div class="row">
                    <div th:each="dialog : ${dialogs}" class="col-md-8 col-md-offset-2">
                        <blockquote style="margin: 0;">
                            <p th:text="${dialog.question.content}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer><cite>Smart Student</cite></footer>
                        </blockquote>
                        <blockquote class="blockquote-reverse">
                            <p th:text="${dialog.answer.content}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer><cite th:text="${dialog.answerer.name}">Karl Marks</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>